In [1]:
Q1 = "Hello World" #type is string
print(Q1)
type(Q1)

Hello World

str

In [2]:
numbers = [1,2,3,4,5,6,7,8,9]
for x in numbers:
  if x <= 4:
    print(x)

1
2
3
4

In [3]:
Q3 = '100' #number with inverted commas is string type
type(Q3)

str

In [4]:
Q3 = 100.00 #add decimal places to change from str to float 
type(Q3)

float

In [5]:
x = None #value equals to none is NoneType 
type(x)

NoneType

In [6]:
x = round(-0.05,0) #round(x) in Python returns 'x' rounded to 'y' digits from the decimal point
print(x)
x = round(-0.05,1)
print(x)
x = round(-0.05,2)
print(x)

-0.0
-0.1
-0.05

In [7]:
phrase_1 = 'What is your name?'
phrase_2 = ' How old are you?'
print(phrase_1 + phrase_2)

What is your name? How old are you?

In [8]:
name = input('What is your name? /')
age = input('How old are you? /')
print(name + age)

What is your name? /Anni
How old are you? /36
Anni36