In [1]:
Q1 = "Hello World" #type is string
print(Q1)
type(Q1)

Hello World

str

In [2]:
numbers = [1,2,3,4,5,6,7,8,9]
for x in numbers:
  if x <= 4:
    print(x)

1
2
3
4

In [3]:
Q3 = '100' #number with inverted commas is string type
type(Q3)

str

In [4]:
Q3 = 100.00 #add decimal places to change from str to float 
type(Q3)

float

In [5]:
x = None #value equals to none is NoneType 
type(x)

NoneType

In [6]:
x = round(-0.05,0) #round(x) in Python returns 'x' rounded to 'y' digits from the decimal point
print(x)
x = round(-0.05,1)
print(x)
x = round(-0.05,2)
print(x)

-0.0
-0.1
-0.05

In [7]:
phrase_1 = 'What is your name?'
phrase_2 = ' How old are you?'
print(phrase_1 + phrase_2)

What is your name? How old are you?

In [8]:
name = input('What is your name? /')
age = input('How old are you? /')
print(name + age)

What is your name? /Anni
How old are you? /36
Anni36

In [1]:
print("Hello World") #Q1 alternative
type("Hello World")

Hello World

str

In [1]:
for x in range(10): # Q2 alternative..a colon denotes the start of an indented block
    if x < 5: # Jupyter automatically indent by four spaces
        print(x)
    else:
        pass # do nothing

0
1
2
3
4

In [2]:
x = -0.05 # Q5 alternative 
print(round(x), round(x,1), round(x,2))

0 -0.1 -0.05

In [6]:
print("What's your name?")
my_name = input()
print("What's your age?")
my_age = input()
print("Hello, my name is {} and I am {} years old!".format(my_name, my_age))

What's your name?
Anni
What's your age?
36
Hello, my name is Anni and I am 36 years old!